.dashboard {
  /* border: 1px solid red; */
  display: flex;
  height: 90vh;
  overflow: hidden;
  margin-top: 60px;
  position: absolute;
  left: 250px;
  bottom: 0px;
  width: 83.5%;
  padding: 20px;
  /* display: flex;
  justify-content: center; */
}

.dashboard .profil {
  width: 50%;
  margin: auto;
  box-shadow: 1px 0px 5px 0px black;
  height: 80vh;
  border-radius: 10px;
}

.dashboard .profil .form-label {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.dashboard .profil .form-control {
  margin-left: 20px;
  width: 94%;
}

.dashboard .profil .send {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.dashboard .profil .send .boutonSend {
  width: 94%;
}

.dashboard-container {
  display: flex;
  flex: 1;
  margin-top: 60px;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
  background-color: #f0f2f5;
  overflow-y: auto;
  box-sizing: border-box;
  margin-left: 250px;
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }
}

.dashboard-content {
  margin-left: 0;
  padding-top: 20px;
}