.dashboard {
    display: flex;
    height: 100vh;
    overflow: hidden; /* Empêche le débordement si le contenu est trop grand */
    margin-top: 60px; /* Laisser de l'espace pour le header fixe */
  }
  
  .dashboard-container {
    display: flex;
    flex: 1;
    margin-top: 60px; /* Laisser de l'espace pour le header fixe */
  }
  
  .dashboard-content {
    flex: 1;
    padding: 20px;
    background-color: #f0f2f5;
    overflow-y: auto;
    box-sizing: border-box; /* Assurez-vous que le padding est inclus dans la largeur */
    margin-left: 250px; /* Laisser de l'espace pour la sidebar fixe */
  }
  
  @media (max-width: 768px) {
    .dashboard {
      flex-direction: column;
    }
  
    .dashboard-content {
      margin-left: 0;
      padding-top: 20px; /* Ajoute de l'espace en haut pour le contenu */
    }
  }
  